# Node modules
node_modules/

# Production build output
dist/

# Vite cache
.vite/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs and editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Mac system files
.DS_Store

# Docker
*.local
docker-compose.override.yml

# lock files 
package-lock.json
